*{
    margin: 0;
    padding: 0;
}
.App{
    width: 500px;
    min-height: 50vh;
    margin: auto ;
    background-color: rgb(5, 35, 82);
    padding: 20px;
    color: rgb(219, 220, 221);
}
.inputWrapper{
    display: flex;
    justify-content: end;
}
.inputWrapper input{
    padding: 10px;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    outline: none;
}
.inputWrapper button {
    border-radius: 0px 10px 10px 0;
}
.displayWrapper{
    margin-top: 30px;
}
.taskWrapper{
    background-color: rgba(5, 27, 61, 0.4);
    padding: 20px;
    border-radius: 0 30px;
    margin: 10px;
    display: grid;
    grid-template-columns: 10% 60% 10%;
}

.taskWrapper input{
    width: 20px;
 
}
